
#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#map {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

#innerTest {
    position:relative;
    width: 200px;
    height: 200px;
    background-color:#23A4FF;
}

